body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
    background-color: #E5E5E5;
    
    /*max-width: 1200px;*/
}

.main-header{
    background-image: url("./img/promo.png");
    background-repeat: no-repeat;
    background-position: top center;/*вверху по центру*/
    background-size: 100% auto;
    height: 581px;
    margin: 0 auto;
}

.promo-arcticle{
    background-image: url("./img/prom-article.png");
    background-repeat: no-repeat;
    background-position: top center;/*вверху по центру*/
    background-size: 100% 589px;
    height: 589px;
    
}


a{
    text-decoration: none;

}

a:visited{
    color: #2E2F22; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}


.button {
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: rgba(32, 33, 23, 1);
    border: 1px solid rgba(32, 33, 23, 1);
    border-radius: 13px;
    background-color: transparent;
}


.section-title{

    text-align: center;
    font-family: "Spectral SC", "Arial", sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /*line-height: 33px;/*какое то санн езначние*/

}


.container{
    width: 1200px;/*изм акета вязла*/
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px; 
}


.main-header__wrapper{
    display: flex;
    justify-content: space-between;

}


.main-header-logo{/*a*/
    padding-top: 20px;

}


.logo{
    width: 130px;
    height: 83px;
}


.site-navigation{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
}


.link-item{ /*a*/
    color: #2E2F22;
    font-size: 18px;

}


.all-arcticles{
    padding-top: 80px;
}


.all-arcticles__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}


.list-articles{
    width: 1200px;
    /*display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;*/
    display: grid;
    grid-gap: 40px 20px;/*расстояние между  столбцами(20px) и рядами(40px)*/
    grid-template-columns: repeat(3,1fr);/*3 столбца шириной 1fr*/
    margin-bottom: 62px;
}


.article-item{

    /*margin-bottom: 40px;*/
}


.article-item:nth-child(3n){
    margin-right: 0;
}


.article-item__image{
    max-width: 100%;/*на слуй если размер иображения  больше чем  рзмер экрана*/
    display: block;
    width: 387px;
    height: auto;
    object-fit: cover;
    margin-bottom: 27px;
}


.article-item__info{/*флекс контейгнер*/
    width: 387px; 
    display: flex;
    flex-direction: column;
}


.article-item__title{/*флекс элемент*/
    font-weight: 700;
    font-size: 18px;
    font-family: "Spectral SC", "Arial", sans-serif; 
    margin-bottom: 10px;
    text-transform: uppercase;
}


.article-item__description{/*флекс элемент*/
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif; 
    font-style: normal;
    line-height: 26px;
    margin-bottom: 30px;
    overflow: hidden; /*все что не умещается будет скрываться*/
    text-overflow: ellipsis;/*многточиться невмезаемый текст*/
    max-height: 52px;
}


.article-item__date-tag{/*флекс элемент, отрый сам флекс контенер*/
    display: flex;
    justify-content: space-between;
    margin-top: auto;/*элемен прижмется  книзу коненера*/
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(46, 47, 34, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}


.list-articles-big{/*ul флекс контейнер*/
    display: flex;
    justify-content: flex-start;

}


.articles-big-item{/*li флекс элемент*/

    width: 590px;

    position: relative;
    margin-right: 20px;
    color: #ffffff;
}


.articles-big-item:nth-child(2n){
    margin-right:0;
}


.articles-big-image{/*img*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1; /*чтобы текст поверх картинки отобраджался*/
}


.articles-big-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 350px 30px 80px 80px;
}


.articles-big-title{
    font-size: 20px;
    font-weight: 700;
    font-family: "Spectral SC", "Arial", sans-serif; 
    margin-bottom: 10px;
}


.articles-big-description{
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif; 
    margin-bottom: 10px;
    line-height: 28px;
    margin-bottom: 40px;
}


.articles-big-date-tag{/*флекс элемент*/
    width: 430px; 
    display: flex;
    justify-content: space-between;
    margin-top: auto;/*фдекс эелмент прижмется  книзу контенйера*/
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);

}


.button-wrapper{
    text-align: center;
}


.aboutme{
    padding-top: 85px;

}


.aboutme .section-title{
    margin-bottom: 40px;
}


.aboutme__wrapper{
    display: flex;

}


.aboutme__wrapper-image{
    margin-right: 40px;
}


.aboutme__image{
    display: block;
    width: 590px;
    height: auto;
}


.aboutme__wrapper-text{
    width: 497px;
    padding-top: 30px;
}


.aboutme__textpart{
    margin-bottom: 40px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
}


.aboutme__curve-text{
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-style:italic;
}


.portfolio{
    padding-top: 85px;
}


.portfolio .section-title{
    margin-bottom: 40px; 
}


.portfolio__list{/*ul-флекс контенер*/
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


.portfolio__item{/*li-флекс элемент, котрый сам флекс контенер*/
    display: flex;
    width: 387px;
    flex-grow: 1;

    position: relative;/*текст позиционируем относительно этого*/
    margin-right: 19px;
    min-height: 520px;/*для переполнения текстом, чоб текст не выпадал из контенера*/
    margin-bottom: 104px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));

    border-radius: 15px;
}


.portfolio__item:last-child{
    margin-right: 0;
}


.portfolio__item--center{
    color: rgba(255,255,255,1);
}

.portfolio__image{/*img*/
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
}


.portfolio__content{/*флекс контейнер*/

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 40px 100px 55px;
    text-align: center;

}


.portfolio__name{/*флекс элемент*/
    font-size: 20px;
    font-weight: 700;
    font-family: "Spectral SC", "Arial", sans-serif; 
    margin-bottom: 40px;

}


.portfolio__title{/*флекс элемент*/
    font-size: 18px;
    font-weight: 700;
    font-family: "Spectral SC", "Arial", sans-serif; 
    line-height: 28px;
    margin-bottom: 17px;

}


.portfolio__description{/*флекс элемент*/
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif; 
    line-height: 26px;

}


.show-more{
    text-transform: uppercase;
    margin-bottom: 87px;
}


.show-more:hover{
    border: 2px solid #1576e5;
}


.show-more:active{
    border: 2px solid #4e8acf;
    outline: none;
}


.show-more:disabled{/*задизейбленная кнопка*/
    background-color: red;

}


.feedback-form-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.feedback-form-section .section-title{
    margin-bottom: 60px;
}


.feedback-form{
    width: 837px;
    padding-left: 79px;
    padding-right: 79px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url("./img/form_background.png");
    background-repeat: no-repeat;
    background-position: top center;/*вверху по центру*/
    background-size: 996px 637px;
}



.feedback-form__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 837px;
}




.feedback-form__input-wrapper{/*p-флекс контенер*/
    display: flex;
    flex-direction: column;

}


.feedback-form__input-wrapper:nth-child(1){
    margin-right: 20px;
}


.width-half{
    width: 405px;
    margin-bottom: 20px;
}


.width-full{
    width: 835px;
    margin-bottom: 20px;
}


.feedback-form__input-wrapper label{ /*флекс элемент*/
    align-self: flex-start;
    margin-bottom: 12px;
    font-family: "Spectral SC", "Arial", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}


.feedback-form__input{/*input*/
    width: 100%;
    border: 1px solid  rgba(32,33,23,1);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;/*чтобы паддниги входили в width*/
    color: rgba(32,33,23,1);
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
}


.feedback-form__input:hover{
    border: 2px solid #1576e5;
}


.feedback-form__input:active{
    border: 2px solid #4e8acf;
    outline: none;
}



.feedback-form__input::placeholder,
.feedback-form__textarea::placeholder{/*стили для пелйсхрлднра*/
    color: rgba(32,33,23,1);
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif; 
}


.feedback-form__textarea{
    resize: none;/*чтоб юзер не менял рамзеры*/
    width: 100%;
    height: 293px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    min-height: 293px;/*для пеерполнения текстом, чоб текст не выпадал из контенейра*/
    color: rgba(32,33,23,1);
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif;

}


.feedback-form__textarea:hover{
    border: 2px solid #1576e5;
}


.feedback-form__textarea:active{
    border: 2px solid #4e8acf;
    outline: none;
}

.main-footer{
    background-color: #D7D1C9;
    padding-top: 78px;
    padding-bottom: 78px;

}


.main-footer__nav{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.nav-item{
    margin-right: 190px;
}


.nav-item:last-child{
    margin-right: 0;
}


/*стили к article.html*/

.artcile-text{
    padding-top: 80px;
}


.artcile-text__article-title{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Spectral SC", "Arial", sans-serif; 
}


.artcile-text__article-teg{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}


.teg__text:first-child{
    margin-right: 20px;
}


.teg__text{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;   
}


.article-text__description{
    width: 991px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif; 
}


.article-text__part{
    margin-bottom: 40px;
}


.article-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px; 
}


.article-image{
    width: 100%;
    height: 463px;
    object-fit: cover;
}



.article-text__soceti{
    width: 998px;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 40px;
}


.heart{/*button кнпока лайка*/
    border: none;/*рамка для кнпоки убираем*/
    background-color: transparent;
    cursor: pointer;
    background-image: url("./img/like.svg");
    width: 60px;
    height: 60px;
    background-size: 50px 50px;
    /*background-position: center;*/
    background-repeat: no-repeat;

}


.heart:active{
    border: none;
    outline: none;
}


.likes-number{/*span*/
    margin-left: 54px;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    font-family: "Open Sans", "Arial", sans-serif;  
}


.social-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 315px;
    align-items: center;
}


.social-list__item{/*флекс эелмент котрый сам флекс контенер*/
    display: flex;
    margin-right: 32px;
    width: 50px;
    height: 50px; 
}


.social-list__link{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.social-link--twitter{
    background-image: url("./img/twitter.svg");
}


.social-link--fb{
    background-image: url("./img/facebook.svg");
}


.social-link--vk{
    background-image: url("./img/vk.svg");
}


.all-articles-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}


.all-articles-button{/*флекс контенер*/
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /*border: none;/*рамка для кнпоки убираем
    background-color: transparent;
    cursor: pointer;*/ 
}


.all-articles-button::after{/*псевдоэлемент во флекс контенере является флекс эдлементеом*/
    content: "";
    width: 64px;
    height: 16px;
    background-image: url("./img/Arrow.svg");
    background-position: center left;
    background-repeat: no-repeat;
    margin-left: 20px;
}


.feedbacks{
    padding-bottom: 70px; 
}


.feedbacks__wrapper{
    background-color: #ECE1E1;
    width: 613px;/*ширина  только контента*/
    padding: 50px 90px;
    border-radius: 10px;

}


.feedbacks__list{/*ul*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.feedbacks__item{/*li*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif; 
}


.feedbacks__item:last-child{
    margin-bottom: 0;
}


.feedbacks__author{
    display: flex;/*чтобы позиционаорать фотку*/
    align-items: center;
    margin-bottom: 20px;  

}


.feedbacks__author::before{/*псевдоэлемнет во флекс конетнейре ялвяется флекс элементом*/
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("./img/photo1.svg");
    background-position: top left;/*левый верхний угол*/
    background-repeat: no-repeat;
    padding-right:  30px;
}


.feedbacks__text{/*флекс элемнет*/
    margin-top: auto;/*флекс эелмнет прижмется  к низу контейнера*/
    font-weight: 400;
}


.feedback-form-article{/*form*/
    display: flex;
    flex-direction: column;

    padding-top: 77px;
    padding-left: 90px; 
    width: 703px;

}


.feedback-form-article__title{
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 24px;
    font-family: "Open Sans", "Arial", sans-serif; 
}


.feedback-form-article__wrapper{
    display: flex;
    justify-content: space-between;

}


.feedback-form__content-article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 221px;
}


.feedback-form__input-article-wrapper{/*p*/
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;


}


.feedback-form__input-article-wrapper label{
    align-self: flex-start;
    font-weight: 400;
    font-size: 16px;
    color: rgba(46, 47, 34, 1);
    font-family: "Open Sans", "Arial", sans-serif; 
}


.feedback-form__input-article{/*input*/
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #2E2F22;
    padding: 10px;
    padding-left: 0;
    box-sizing: border-box;
    border-radius: 0;
    font-weight: 400;
    font-size: 16px;
    color: rgba(46, 47, 34, 1);
    font-family: "Open Sans", "Arial", sans-serif; 
}


.feedback-form__input-article:hover{/*наволим на поле*/
    border-bottom: 2px solid #0d4482;
}


.feedback-form__input-article:active{/*фокус  в поле ставим*/
    border-bottom: 2px solid #1576e5;
    outline: none;
}



.feedback-form__input::placeholder{/*стили дял плейсхрлдра*/
    font-family: "Open Sans", "Arial", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: rgba(46,47,34,1);
}


.submit-button-article{/*button флекс элемент*/
    margin-top: 50px;
    width: 100%;
    padding: 15px 20px;
    margin-top: auto;/*элементпридмется  книзу контейнера*/
}


.submit-button-article:hover{/*наведение на кнпоку*/
    border: 2px solid #5f7fa3;
    color: #5f7fa3;
}


.submit-button-article:active{/*нажатие на кнпоку*/
    border: 2px solid #87bdfa;
    color: #87bdfa;
    outline: none; /* чтобы пр надатии на кнпоку, свои сили не вылезали*/
}


.submit-button-article:disabled{/*для задизейбленнок кнпоки*/
    background-color: red;

}


.feedback-form__textarea-atcicle{/*textarea*/
    width: 406px;
    height: 208px;
    padding: 20px;

    box-sizing: border-box;/*паддинги включаются в width*/
    border-radius: 10px;
    resize: none;/*чтобы не нельзя было руками изменить размры*/
    border-color: transparent;
}


.feedback-form__textarea-atcicle:hover{/*наведенеи на текстарию*/
    border: 2px solid #5f7fa3;
}


.feedback-form__textarea-atcicle:active{/*нажатеи  на текстарию*/
    border: 2px solid #87bdfa;
    outline: none; /* чтобы пр надатии на кнпоку, свои сили не вылезали*/
}


.feedback-form__textarea-atcicle::placeholder{/*для плесхолдера*/
    font-size: 16px;
    font-weight: 400px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba(46,47,34,1);

}


.added{/*чтобы кнопка лайк окрасилась*/
    background-image: url("./img/likeadd.svg");
}


.warning{ /*класс для выделения если в текстарию вводят больше 20 символов*/
    border: 2px solid red;

}


.filter{
    /*position: relative;*/
    display: flex;
    padding: 12px 74px 12px 12px;
    margin:  0 0 0 auto;
    box-sizing: border-box;
    background-color: #D7D1C9;
    border-radius: 10px;
    border: none;
    background-image: url("./img/Polygon.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 13px top 50%;/*спарва на 8 px и от верха по  центру*/
    background-size: 12px 14px;
    appearance: none;/*втроенный в выпадающий треугльничек убираем*/
    -moz-appearance: none;
    -webkit-appearance: none;

}

.filter::-ms-expand {
    display: none;
}

.filter:focus {
    outline-offset: 0;
    outline: none;
    outline-color: red;
}


.filter:hover{/*при наведении на список*/
    background-color: rgba(215, 209, 201, 1);
}

.filter:active{/*при наведении на список*/
    outline: none;
    background-color: rgba(215, 209, 201, 1);
}

/*.filter::before{
content: "";
position: absolute;
top: 0;
right: 10px;

width: 16px;
height: 14px;
background-image: url("./img/Polygon.svg");
background-size: 16px 14px;
background-position: center right;
}*/

.highlight{
    border-color: #ff9900;
}

.hidden{
    display: none;
}